@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Cabin';
    background-color: #758190;
}

#tentacles {
    width: 50px;
}

.header {
    /* position: sticky;
    top: 0; */
    display: flex;
    justify-content: space-between;
    background-color: lightblue;
    padding: 1%;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}

.logo {
    display: flex;
}

.our-games-btn > a{
    text-decoration: none;
    color:black;
    font-size: large;
}

.stats-container {
    display: flex;
    align-items: center;
}

.stats-card {
    background-color: #a8b0bc;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
}

/* Challenge #2 Part 3, styled stats-card instead of container */
.stats-card:hover{
    cursor: pointer;
    box-shadow: 0 0 30px;
}

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background-color: #FFFFFF;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

#button-container {
    text-align: center;
}

button {
    font-family: 'Cabin';
    border: none;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
}

.input {
    padding: 10px;
    width: 80px;
    height: 80px;
    background: none;
    border: 4px solid black;
    border-radius: 50px;
    box-sizing: border-box;
    font-family: Comic Sans MS;
    font-size: 26px;
    color: black;
    outline: none;
    transition: .5s;
}
.search-bar:hover input{
    width: 350px;
    background: #758190;
    border-radius: 10px;
}
.search-bar i{
    position: absolute;
    top: 55px;
    right: 30px;
    transform: translate(-50%,-50%);
    font-size: 30px;
    color: black;
    transition: .2s;
}
.search-bar:hover i{
    opacity: 0;
    z-index: -1;
}